:root {
	--main-color: #14141d;
	--hover-color: #2d2d42;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: bold;
	color: white;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: var(--main-color);
	height: 100vh;
	padding: 0;
	-webkit-user-select: none;
	user-select: none;
}

.background-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	object-fit: cover;
	z-index: -1;
}

.background-video.active {
	opacity: 1;
}

.audio-controls {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.audio-player {
	display: none;
}

.play-pause-button {
	background-color: var(--main-color);
	border-radius: 10px;
	border: none;
	margin: 10px;
	width: 170px;
	text-align: center;
	padding: 10px 30px;
	opacity: 80%;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.play-pause-button:hover {
	background-color: var(--hover-color);
}

.play-pause-button.time {
	cursor: default;
}

.play-pause-button.time:hover {
	background-color: var(--hover-color);
}

.play-pause-button:focus {
	outline: none;
}

.timeContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--main-color);
	padding: 10px;
	border-radius: 5px;
}

.time {
	display: flex;
	position: relative;
	top: 20px;
	justify-content: center;
	align-items: center;
}

.current-track {
	background-color: var(--main-color);
	border-radius: 10px;
	border: none;
	left: 0;
	margin: 10px;
	text-align: center;
	padding: 10px 30px;
	opacity: 80%;
	font-size: 18px;
}
